*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: beige;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}
